.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
  justify-items: flex-start;
  align-items: center;
  height: 100vh;

  .pyramid {
    grid-row: 2/3;
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .triangle {
    background: url(../../static/./assets/./images/./pyramid.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr;

    .picture {
      img {
        height: 520px;
      }
    }

    .react-icon a {
      display: grid;
      justify-content: center;
      margin-top: 2px;

      color: rgba(16, 15, 15, 0.745);
      opacity: 0.8;

      &:hover {
        color: rgb(255, 238, 46);
      }
    }
  }
}
.label {
  color: rgb(255, 238, 46);
  font-size: 6.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
}
.sound {
  display: flex;
  justify-content: center;
  align-items: center;
}
